.login__error {
    position: absolute;
    top: 2rem;
}

.error-color {
    background-color: rgba(243, 69, 69, 1) !important;
}

.login__container-form {
    display: flex;
    flex: 0.5;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login__form-input {
    width: 300px;
    font-weight: 400;
    color: rgba(192, 192, 192, 1);
    margin-bottom: 1.5rem !important; 
}

.login__input-button {
    color: white;
    font-size: 16px;
    font-weight: 600;
    margin-top: 2rem ;
    border-radius: 2rem ;
    width: 300px;  
}

.login__button-valid {
    background-color: rgba(84, 88, 234, 1);
}

.login__button-invalid {
    background-color: rgba(192, 192, 192, 1);
}

.login__signUp {
    margin-top: 7rem;
}

.login__link {
    font-size: 14px;
    margin-top: 1rem;
}