* {
    box-sizing: border-box;
}

.right-container {
    width: 50%;
    overflow: hidden;
}  

/* error alert */
.login__error {
    position: absolute;
    width: max-content;
    left: 50%;
    right: 0;
    margin: auto;
    top: 1rem;
}

.error-color {
    background-color: rgba(243, 69, 69, 1) !important;
}

/* form */

.login__container-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 25%;
    left: 0;
    width: 100%;
    height: 100%;   
}

.login__signUp {
    margin-top: 6rem;
}

.login__link {
    font-size: 14px;
    font-weight: 500;
    margin-top: 1rem;
}

.login__submit-button {
    color: white;
    margin-top: 52px;
}

