* {
    box-sizing: border-box;
}

.right-container {
    width: 50%;
    overflow: hidden;
  }  

/* header */
.signup__header {
    position: relative;
    width: 95%;
    height: 74px;
    display: flex;
    align-items: center;
    left: 0;
    right: 0;
    margin: auto;
}

.back-button {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.back-icon {
    border: 1px grey;
    background-color: rgb(244, 243, 243);
    border-radius: 15px;
    padding: 2px 8px;
    box-sizing: content-box;
}

.text {
    font-size: 16px;
    font-weight: 600;
    margin-left: 10px;
}

.signup-text {
    font-size: 18px;
    font-weight: 700;
    width: 200px;
    margin: auto;
}

/* form */

.container-content{
    display: flex;
    justify-content: center;
    position: relative;
    top: 18%;
    left: 0;
    width: 100%;
    height: 100%;
    
}

.container-form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.form-container {
   margin-bottom: 24px !important;
}

.submit-button {
    color: white;
    margin-top: 52px;
}

.button-valid {
    background-color: rgba(84, 88, 234, 1);
}

.button-invalid {   
    background-color: rgba(192, 192, 192, 1);
}